# General
# gitignore
*.xml
*.idea
*__pycache__
*.ini
*.zip

# Python
*.pyc
.pyHistory

# R files
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio project
*.Rproj
.Rproj.user
*.Rdata

# ArcGIS
*.mxd
*.aprx

# subfolders
*/*
